<%= form_with(model: word, local: true, id: 'word-form') do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
        <% word.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :word %>
    <%= form.text_field :word, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :translation %>
    <%= form.text_field :translation, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :synonyms %>
    <%= form.text_field :synonyms, class: 'form-control' %>
    <small class="form-text text-muted">This field is optional</small>
  </div>

  <div class="field form-group">
    <%= form.label :example %>
    <%= form.text_field :example, class: 'form-control' %>
    <small class="form-text text-muted">This field is optional</small>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
