<div class="container-fluid p-0 m-0">

  <div class="row d-flex justify-content-between">

    <div class="col-2">
      <nav class="nav nav-closed">
        <svg class="nav__expand" viewBox="0 0 256 512" width="100">
          <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
        </svg>

        <ul class="nav__list">
          <% if user_signed_in? %>
            <li class="nav__listitem">
              <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
                <%= image_tag 'profile.svg' %>
                <p><strong><%= current_user.email %></strong></p>
              <% end %>
            </li>
            <li class="nav__listitem">
              <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
                <%= image_tag 'logout.svg' %>
                <p><%= t('logout') %></p>
              <% end %>
            </li>
          <% else %>
            <li class="nav__listitem">
              <%= link_to new_user_registration_path, :class => 'navbar-link' do %>
                <%= image_tag 'signup.svg' %>
                <p><%= t('signup') %></p>
              <% end %>
            </li>
            <li class="nav__listitem">
              <%= link_to new_user_session_path, :class => 'navbar-link' do %>
                <%= image_tag 'login.svg' %>
                <p><%= t('login') %>></p>
              <% end %>
            </li>
          <% end %>

          <li class="nav__listitem">
            <a href="#" id='english'>
              <%= image_tag 'english.svg' %>
              <p><%= t('english') %></p>
            </a>
          </li>
          <li class="nav__listitem">
            <a href="#" id='spanish'>
              <%= image_tag 'spanish.svg' %>
              <p><%= t('spanish') %></p>
            </a>
          </li>
          <li class="nav__listitem">
            <a href="#" id='french'>
              <%= image_tag 'french.svg' %>
              <p><%= t('french') %></p>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-10 text-center">
      <div class="custom-card">
        <p class="h1"><%= t('your_dictionary') %></p>

        <%= link_to new_word_path, id: 'add-word', class: 'btn btn-success' do %>
          <%= t('add') %>
          <i class="fas fa-plus-circle icon-2x"></i>
        <% end %>

        <p class="text-md-left" id="chosen-words-number">
          <span></span>
          <a class="btn btn-light" id="delete-all"><%= t('delete_all') %> <i class="far fa-trash-alt icon-2x ml-1"></i></a>
        </p>

        <table class="table table-hover text-center">
          <thead>
          <tr>
            <th>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="global-checkbox">
                <label class="custom-control-label" for="global-checkbox"></label>
              </div>
            </th>
            <th>№</th>
            <th><%= t('word') %></th>
            <th><%= t('translation') %></th>
            <th></th>
          </tr>
          </thead>

          <tbody id="words-table">
          <% @words.each_with_index do |word, index| %>
            <%= render partial: 'word-row',
                       locals: { index: index, id: word.id, word: word.word, translation: word.translation,
                                 edit_path: edit_word_path(word), word_link: word_path(word) } %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id='locale-langs'>
    <%= link_to '/set_locale?locale=ru' do %>
      <%= image_tag 'russian_rounded.svg', class: 'locale-lang' %>
    <% end %>
    <%= link_to '/set_locale?locale=en' do %>
      <%= image_tag 'english_rounded.svg', class: 'locale-lang' %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-long" tabindex="-1" role="dialog" aria-labelledby="modal-long-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-long-title"><%= t('word_page') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center" id="word-modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('close') %></button>
        <a type="button" class="btn btn-primary" id="edit-button"><%= t('edit') %></a>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'index' %>
