<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Word:</strong>
        <%= @word.word %>
      </p>

      <p>
        <strong>Translation:</strong>
        <%= @word.translation %>
      </p>

      <p>
        <strong>Synonyms:</strong>
        <%= @word.synonyms %>
      </p>

      <p>
        <strong>Example:</strong>
        <%= @word.example %>
      </p>

      <%= link_to 'Edit', edit_word_path(@word) %> |
      <%= link_to 'Back', words_path %>

    </div>
  </div>
</div>
