<div class="container custom-card">
  <div class="row">
    <div class="col">
      <p>
        <strong><%= t('word') %>:</strong>
        <%= @word.word %>
      </p>

      <p>
        <strong><%= t('translation') %>:</strong>
        <%= @word.translation %>
      </p>

      <p>
        <strong><%= t('synonyms') %>:</strong>
        <%= @word.synonyms %>
      </p>

      <p>
        <strong><%= t('example') %>:</strong>
        <%= @word.example %>
      </p>

      <%= link_to t('edit'), edit_word_path(@word) %> |
      <%= link_to t('back'), words_path %>

    </div>
  </div>
</div>
